body
{
  background-color: #4D4D4D;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg fill-opacity='0.41'%3E%3Ccircle fill='%234D4D4D' cx='50' cy='0' r='50'/%3E%3Cg fill='%234c4c4c' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%234b4b4b' cx='50' cy='100' r='50'/%3E%3Cg fill='%234a4a4a' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23494949' cx='50' cy='200' r='50'/%3E%3Cg fill='%23484848' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23474747' cx='50' cy='300' r='50'/%3E%3Cg fill='%23464646' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23454545' cx='50' cy='400' r='50'/%3E%3Cg fill='%23444444' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23434343' cx='50' cy='500' r='50'/%3E%3Cg fill='%23414141' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%23404040' cx='50' cy='600' r='50'/%3E%3Cg fill='%233f3f3f' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%233e3e3e' cx='50' cy='700' r='50'/%3E%3Cg fill='%233d3d3d' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%233b3b3b' cx='50' cy='800' r='50'/%3E%3Cg fill='%233a3a3a' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23393939' cx='50' cy='900' r='50'/%3E%3Cg fill='%23373737' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23363636' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: contain;
}

.title
{
  text-align: center;
  font-size: xx-large;
  color:  #cdcdcd;
}

.box{
    width: 300px;
    height: 440px;
    border: 1px solid black;
    background-color: #000000;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border-color: #282121;
    border-radius: 20px;
    border-width: 10px;
  }
  .box p
  {
    color: #ffffff;
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
  }
  .box2{
    width: 300px;
    height: 50px;
    border: 1px solid black;
    background-color: #000000;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border-color: #282121;
    border-radius: 20px;
    border-width: 10px;
  }
  .box2 p
  {
    color: #ffffff;
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
    text-align: start;
  }



body {
    overflow-x: hidden;
    font-family: Sans-Serif;
    margin: 0;
  }
  
  .menu-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background: #232323;
    color: #cdcdcd;
    padding: 20px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    box-sizing: border-box;
  }
  
  .menu-logo {
    line-height: 0;
    margin: 0 20px;
  }
  
  .menu-logo img {
    max-height: 40px;
    max-width: 100px;
    flex-shrink: 0;
  }
  
  .menu-container a {
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;
  }
  
  .menu-container a:hover {
    color: white;
  }
  
  .menu-container input {
    display: block;
    width: 35px;
    height: 25px;
    margin: 0;
    position: absolute;
    cursor: pointer;
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
    -webkit-touch-callout: none;
  }
  
  /* Burger menu */
  .menu-container span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }
  
  .menu-container span:first-child {
    transform-origin: 0% 0%;
  }
  
  .menu-container span:nth-child(3) {
    transform-origin: 0% 100%;
  }
  
  .menu-container input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(3px,-1px);
    background: #232323;
  }
  
  .menu-container input:checked ~ span:nth-child(4) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  
  .menu-container input:checked ~ span:nth-child(3) {
    transform: rotate(-45deg) translate(-5px,11px);
  }
  
  .menu ul {
    list-style: none;
  }
  
  .menu li {
    padding: 10px 0;
    font-size: 22px;
  }
  
  /* mobile styles */
  @media only screen and (max-width: 967px) { 
    .menu-container {
      flex-direction: column;
      align-items: flex-end;
    }
    
    .menu-logo {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  
    .menu-logo img {
      max-height: 30px;
    }
  
    .menu {
      position: absolute;
      box-sizing: border-box;
      width: 300px;
      right: -300px;
      top: 0;
      margin: -20px;
      padding: 75px 50px 50px;
      background: #cdcdcd;
      -webkit-font-smoothing: antialiased;
      /* to stop flickering of text in safari */
      transform-origin: 0% 0%;
      transform: translateX(0%);
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }
  
    .menu-container input:checked ~ .menu {
      transform: translateX(-100%);
    }
  }
  
  /* desktop styles */
  @media only screen and (min-width: 968px) { 
    .menu-container {
      width: 100%;
    }
  
    .menu-container a {
      color: #cdcdcd;
    }
  
    .menu-container input {
      display: none;
    }
  
    /* Burger menu */
    .menu-container span {
      display: none;
    }
  
    .menu {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  
    .menu ul {
      display: flex;
      padding: 0;
    }
  
    .menu li {
      padding: 0 20px;
    }
  }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 6%;
    background-color: #232323;
    color: white;
    text-align: center;
  }
  